.block-homescreen {
    background-color: $green;
    color: #fff;
    .container {
        min-height: 1100px;
    }
    .image-wrapper {
        width: 1350px;
        height: 100%;
        position: absolute;
        right: 495px;
        top: 0;

        img {
            object-position: top center;
        }
    }

    .text {
        padding-top: 300px;
        padding-left: 70px;
        padding-bottom: 90px;
        background-color: $green;
        margin-left: 600px;
        position: relative;
    }
    .block-title {
        font-size: 62px;
        line-height: 83px;
        color: #fff;
    }
    .title-descr {
        max-width: 640px;
        &::before {
            background-color: #fff;
        }
    }

    .btn {
        margin-top: 60px;
        margin-left: 780px; // 600 + 65 + 110
    }
}

.block-specialization {
    padding-top: 100px;
    padding-bottom: 150px;
    &.green-bg {
        background-color: $green;
        color: #fff;

        // .item {
        //     &::before {
        //         color: $brown;
        //     }
        //     &:nth-child(-n+4) {
        //         &::after {
        //             background-color: $brown;
        //         }
        //     }
        // }
        .block-title {
            color: #fff;
        }
    }
    .items {
        margin-top: 75px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 30px;
        counter-reset: step-counter;
    }

    .item {
        counter-increment: step-counter;
        position: relative;
        font-size: 24px;
        line-height: 28px;
        &::before {
            content: '0' counter(step-counter);
            font-family: $serif-font;
            font-weight: 600;
            font-size: 40px;
            line-height: 53px;
            margin-bottom: 17px;
            display: block;
            //
            color: $brown;
        }
        &:nth-child(-n+4) {
            margin-bottom: 55px;
            &::after {
                content: '';
                position: absolute;
                bottom: -30px;
                height: 2px;
                left: 0;
                right: 0;
                //
                background-color: $brown;
            }
        }
    }
}

.block-about {
    .container {
        padding-top: 260px;
    }
    .image-wrapper {
        width: 900px;
        height: 660px;
        position: absolute;
        right: 945px;
        top: 0;
    }
    .text {
        margin-left: 600px;
        padding-top: 60px;
        padding-left: 65px;
        padding-bottom: 150px;
        position: relative;
        background-color: #fff;
    }
    .block-title {
        color: $brown;
    }
    .title-descr {
        &::before {
            background-color: $brown;
        }
    }
}

.block-cta {
    .container {
        display: grid;
        grid-template-columns: 1fr 570px 1fr;
        padding-bottom: 145px;
    }
    .image-wrapper {
        width: 1510px;
        height: 635px;
        position: absolute;
        bottom: 0;
        right: -75px;
    }
    .block-title {
        color: $brown;
    }
    .cta-form {
        color: #fff;
        background-color: $green;
        padding: 65px 70px 100px;
        min-height: 680px;
        .input-group {
            margin-bottom: 60px;
            input {
                color: #fff;
            }
        }

    }

}

.block-articles {
    padding-top: 150px;
    padding-bottom: 150px;
    .block-title {
        color: $brown;
    }
    .articles {
        margin-top: 70px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        align-items: start;
    }
    .article-item {
        position: relative;
        &.banner {
            color: #fff;
            .article-item-photo {
                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    z-index: 2;
                    background: linear-gradient(180deg, rgba(#000,0) 5%, rgba(#000,.5) 88%);
                }
                img {
                    aspect-ratio: 16 / 18;
                }
            }
            .article-item-info {
                position: absolute;
                bottom: 0;
                left: 0;
                padding-right: 30px;
            }
            .article-item-date {
                color: #fff;
            }
        }
        &-photo {
            img {
                position: relative;
                z-index: 1;
                aspect-ratio: 16 / 9;
            }
        }
        &-info {
            padding: 30px 0 30px 30px;
            position: relative;
            z-index: 2;
        }
        &-date {
            font-family: $serif-font;
            font-size: 18px;
            line-height: 1.33;
            font-weight: 500;
            color: $brown;
        }
        &-title {
            margin-top: 20px;
            padding-right: 110px;
            font-size: 24px;
            line-height: 1.42;
            min-height: 68px;
            position: relative;
            @include long-arrow
        }
    }
}

.block-mass-media {
    padding-top: 120px;
    padding-bottom: 180px;
    background-color: #f8f8f8;
}

.block-error {
    flex-grow: 1;
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 265px;
        padding-bottom: 275px;
    }
    .image-wrapper {
        position: absolute;
        &:nth-child(1) {
            width: 670px;
            height: 1100px;
            right: 1185px;
            top: 0;
        }
        &:nth-child(2) {
            width: 710px;
            height: 485px;
            left: 1150px;
            bottom: 0;
        }
    }
    .error-number {
        font-size: 320px;
        line-height: 386px;
        font-weight: 800;
        color: $green;
        line-height: 1;
        position: relative;
        z-index: 2;
        letter-spacing: .02em;
    }
    .error-title {
        margin-top: 3px;
        font-size: 36px;
        line-height: 42px;
        position: relative;
        z-index: 2;
        letter-spacing: .02em;
    }
    .btn {
        margin-top: 80px;
        position: relative;
        z-index: 2
    }
}

.block-contacts {
    background-color: $green;
    .container {
        z-index: 2;
        padding-top: 185px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        &::before {
            content: '';
            width: 100%;
            top: 0;
            right: calc(100% - 615px);
            height: 200px;
            background-color: #fff;
            position: absolute;
        }
    }
    .text {
        padding-top: 85px;
        color: #fff;
    }
    .block-title {
        color: $brown;
    }
    .contacts {
        margin-top: 55px;
        flex-direction: row;
        align-items: flex-start;
        a {
            &:not(:last-child) {
                margin-right: 70px;
                margin-bottom: 0;
            }
        }
    }
    .contacts-group {
        &:not(:last-child) {
            margin-right: 70px;
        }
        &-title {
            font-size: 24px;
            line-height: 28px;
            letter-spacing: .02em;
            font-weight: 500;
        }
        &-content {
            margin-top: 40px;
            display: flex;
        }

        svg {
            color: $brown;
        }
    }
    .cta-form {
        padding: 60px 50px 58px;
        background-color: #fff;
        width: 480px;
        margin-right: 120px;
        margin-bottom: -60px;
        margin-left: auto;
        .input-group {
            margin-bottom: 32px;
        }
    }
    .map {
        position: relative;
        z-index: 1;
    }
    iframe {
        display: block;
    }
}

.block-team {
    // background-color: $green;
    padding-bottom: 150px;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background-color: $green;
        height: 760px;
    }
    .container {
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 275px;
        &::before {
            content: '';
            width: 100%;
            top: 0;
            right: calc(100% - 615px);
            height: 200px;
            background-color: #fff;
            position: absolute;
        }
    }
    // .team-banner {
    //     position: absolute;
    //     height: 770px;
    //     left: -75px;
    //     right: -75px;
    // }
    .text {
        color: #fff;
        max-width: 720px;
        position: relative;
        p {
            margin-top: 16px;
            font-size: 18px;
            letter-spacing: .02em;
            line-height: 1.56;
        }
    }
    .block-title {
        color: inherit;
    }

    .team {
        margin-top: 140px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
        &-item {
            &-photo {
                aspect-ratio: 42 / 47;
                img {
                    object-fit: cover;
                }
            }
            &-info {
                margin-top: -60px;
            }
            &-person {
                width: 100%;
                max-width: 340px;
                min-height: 60px;
                display: flex;
                align-items: center;
                font-weight: 700;
                background-color: #fff;
                font-size: 20px;
                line-height: 1.4;
                position: relative;
                letter-spacing: .02em;
                color: #000;
                padding-right: 15px;
            }
            &-title {
                margin-top: -10px;
                font-size: 18px;
                line-height: 1.56;
                color: #000;
            }
            &-descr {
                margin-top: 30px;
                font-size: 18px;
                line-height: 1.21;
                letter-spacing: 0.02em;
            }
        }
    }
}

.block-reviews {
    padding: 235px 0 90px;
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .block-title {
        color: $brown;
    }
    .reviews {
        margin-top: 120px;
        max-width: 1460px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 100px;
        row-gap: 64px;
    }

    .review-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        &-photo {
            width: 124px;
            height: 124px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #efefef;
            border-radius: 50%;
            overflow: hidden;
        }
        &-person {
            margin-top: 18px;
            min-height: 72px;
            display: flex;
            align-items: center;
            text-align: center;
            font-family: $serif-font;
            font-size: 20px;
            line-height: 1.4;
            font-weight: 700;
            color: $brown;
            span {
                padding-bottom: 16px;
                position: relative;
                &::after {
                    content: '';
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 70px;
                    border-bottom: 1px solid currentColor;
                    bottom: 0;
                }
            }
        }
        &-message {
            margin-top: 20px;
            font-size: 18px;
            line-height: 1.56;
            letter-spacing: .02em;
        }
    }

    .loadmore {
        margin-top: 80px;
    }
}

.block-text {
    .container {
        padding-top: 320px;
        display: flex;
        min-height: 1575px;
        padding-bottom: 80px;
    }
    .image-wrapper {
        height: 900px;
        width: 525px;
        position: absolute;
        bottom: 0;
        left: -60px;
    }
    .links {
        width: 600px;
        position: relative;
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        a {
            position: relative;
            color: $black;
            font-size: 24px;
            line-height: 28px;
            font-weight: 700;
            letter-spacing: .02em;
            width: 525px;
            left: -75px;
            padding-left: 75px;
            padding-top: 27px;
            padding-bottom: 20px;
            &:hover {
                text-decoration: underline;
            }
            &.active {
                color: #fff;
                background-color: $brown;
            }
            &:not(:last-child) {
                margin-bottom: 9px;
            }
        }
    }
    .text {
        position: relative;
        background-color: #fff;
        p {
            display: block;
            position: relative;
            width: 100%;
            max-width: 870px;
            line-height: 1.6;
            &:not(:last-of-type) {
                margin-bottom: 60px;
                &::after {
                    content: '';
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: -31px;
                    height: 1px;
                    width: 140px;
                    background-color: currentColor;
                }
            }
        }
    }
    .block-title {
        margin-bottom: 45px;
    }
    .btn {
        margin-top: 100px;
    }
}

.block-services {
    position: relative;

    + .block-specialization {
        padding-top: 36px;
        padding-bottom: 130px;

        .block-title {
            color: $text;
        }
    }

    &::before {
        content: '';
        background-color: $green;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 340px;
    }
    .container {
        min-height: 1100px;
        padding-top: 340px;
    }
    .banner {
        width: 1620px;
        height: 1100px;
        position: absolute;
        right: 615px;
        top: 0;
    }

    .text {
        padding-top: 90px;
        padding-left: 145px;
        padding-bottom: 180px;
        background-color: #fff;
        margin-left: 560px;
        position: relative;
        min-height: 785px;
    }
    .title-descr {
        max-width: 695px;
        // &::before {
        //     background-color: $brown;
        // }
    }

    .btn {
        margin-top: 50px;
        margin-left: 110px;
    }

    .picture {
        bottom: -90px;
        left: 1435px;
        position: absolute;
        width: 415px;
        height: 490px;
    }
}

.block-prices {
    .container {
        padding-top: 220px;
        padding-bottom: 140px;
        display: flex;
        flex-wrap: wrap;
        min-height: 1100px;
    }
    .block-title {
        width: 100%;
        margin-bottom: 30px;
    }
    .prices-table {
        width: 64%;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: .02em;
        table {
            width: 100%;
            border-collapse: collapse;
            border: 1px solid #f8f8f8;
        }
        th {
            font-family: $serif-font;
            font-size: 24px;
            line-height: 1.33;
            font-weight: 600;
            letter-spacing: .02em;
            text-transform: uppercase;
            padding-top: 12px;
            padding-bottom: 12px;
        }
        th, td {
            border: 1px solid #f8f8f8;
            padding-left: 30px;
            vertical-align: middle;
            text-align: left;
            &:nth-child(1) {
                width: calc(100% - 330px);
            }
            &:nth-child(2) {
                width: 330px;
            }
        }
        td {
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }
    .prices-descr {
        width: 36%;
        padding-left: 150px;
        p {
            max-width: 415px;
            display: block;
            font-size: 18px;
            line-height: 1.56;
            letter-spacing: .02em;
        }
    }
    .btn {
        margin-top: 50px;
    }
    .image-wrapper {
        left: calc((100% - 30px) * .64 + 15px );
        bottom: 0;
        width: 720px;
        height: 450px;
        position: absolute;
    }
}

.block-articles-list {
    padding-top: 180px;
    min-height: 1180px;
    .container {
        display: flex;
    }
    .image-wrapper {
        height: 1000px;
        width: 675px;
        left: -50px;
        position: absolute;
    }
    .text {
        margin-left: 150px;
        width: 650px;
        background-color: #fff;
        flex-shrink: 0;
        margin-right: 70px;
        padding: 95px 80px 80px 85px;
        min-height: 500px;
        position: relative;
        z-index: 2;
        p {
            margin-top: 15px;
            font-size: 18px;
            line-height: 1.56;
            letter-spacing: 0.02em;
        }
    }
    .articles-list {
        padding-top: 100px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;
        row-gap: 22px;
    }
    .article-item {
        letter-spacing: .02em;
        &-photo {
            img {
                aspect-ratio: 3 / 2;
            }
        }
        &-title {
            margin-top: 20px;
            font-size: 20px;
            font-weight: 700;
            line-height: 1.4;
            color: $black;
        }
        &-descr {
            margin-top: 4px;
            font-size: 18px;
            line-height: 1.56;
        }
    }

    .loadmore {
        align-self: center;
        font-size: 30px;
        line-height: .93;
        margin-left: auto;
    }
}