.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    font-size: 14px;
    line-height: 1.5;
    color: $black;
    &.white {
        color: #fff;
    }
    &.black-white {
        .menu {
            color: #fff;
        }
    }

    .container {
        display: flex;
        justify-content: space-between;
        padding-top: 18px;
        @include responsive {
            padding-top: 16px;
        }
        @include maxw1600 {
            padding-top: 14px;
        }
    }
    .logo {
        margin-right: 170px;
        @include responsive {
            margin-right: 120px;
        }
        @include maxw1600 {
            margin-right: 100px;
        }
        @include maxw1440 {
            margin-right: 80px;
        }
        @include maxw1280 {
            margin-right: 50px;
        }

        svg {
            @include maxw1280 {
                width: 94px;
                height: 120px;
            }
            @include maxw1024 {
                width: 60px;
                height: 78px;
            }
        }
    }

    .contacts {
        // align-self: flex-end;
        align-self: center;
        @include mobile {
            display: none;
        }
    }


    .menu {
        margin-left: auto;
        padding-top: 60px;
        line-height: 1.2;
        @include maxw1024 {
            padding-top: 100px;
            padding-left: 60px;
            padding-right: $container-padding-x;
            padding-bottom: 44px;
            width: 100vw;
            min-height: 500px;
            max-width: 400px;
            position: absolute;
            top: -100%;
            right: 0;
            opacity: 0;
            transition: $duration;
            background-color: $brown;
            color: #fff;
            pointer-events: none;
            z-index: 1;
            overflow-y: auto;
        }
        @include mobile {
            max-width: 100vw;
            padding-left: $container-padding-x;
        }
        ul {
            list-style: none;
            display: flex;
            @include maxw1024 {
                flex-direction: column;
            }
        }
        li {
            &:not(:last-child) {
                margin-right: 98px;
                @include responsive {
                    margin-right: 80px;
                }
                @include maxw1600 {
                    margin-right: 60px;
                }
                @include maxw1440 {
                    margin-right: 48px;
                }
                @include maxw1280 {
                    margin-right: 36px;
                }
                @include maxw1024 {
                    margin-right: 0;
                    margin-bottom: 24px;
                }
            }
        }

        .contacts {
            display: none;
            @include mobile {
                display: flex;
                margin-top: 44px;
            }
        }
    }

    .burger {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        align-self: flex-start;
        margin-top: 8px;
        margin-right: 16px;
        margin-left: auto;
        color: $brown;
        padding: 6px 5px;
        transition: $duration;
        z-index: 3;
        width: 32px;
        height: 32px;
        @include maxw1024 {
            display: flex;
        }
        @include mobile {
            margin-right: 0;
        }
        span {
            display: block;
            width: 22px;
            height: 2px;
            background-color: currentColor;
            transition: $duration;
            position: relative;
            &:not(:last-child) {
                margin-bottom: 7px;
            }
        }
    }
}

.mobile-menu-open {
    @include mobile {
        height: 100vh;
        overflow: hidden;
    }
    .header {
        .menu {
            @include maxw1024 {
                top: 0;
                opacity: 1;
                pointer-events: auto;
            }
        }
        .burger {
            color: #fff;
            span {
                width: 25px;
                left: 3px;
                &:nth-child(1) {
                    transform: rotate(45deg);
                    transform-origin: bottom left;
                }
                &:nth-child(2) {
                    opacity: 0;
                }
                &:nth-child(3) {
                    transform: rotate(-45deg);
                    transform-origin: top left;
                }
            }
        }
    }
}