.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: $duration;
    z-index: 10;
    &.open {
        opacity: 1;
        pointer-events: auto;
    }
    &-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(#000, .5);
    }
    &-body {
        position: relative;
    }
    &-content {
        padding: 40px;
        border-radius: 16px;
        background-color: #fff;
        width: calc(100vw - 2*#{$container-padding-x});
        max-width: 450px;
        @include mobile {
            padding: 32px 24px;
        }
    }
    &-close {
        position: absolute;
        top: 16px;
        right: 16px;
        z-index: 2;
        width: 32px;
        height: 32px;
        background-image: url("data:image/svg+xml,%3Csvg fill='%23000000' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50' width='50px' height='50px'%3E%3Cpath d='M 7.71875 6.28125 L 6.28125 7.71875 L 23.5625 25 L 6.28125 42.28125 L 7.71875 43.71875 L 25 26.4375 L 42.28125 43.71875 L 43.71875 42.28125 L 26.4375 25 L 43.71875 7.71875 L 42.28125 6.28125 L 25 23.5625 Z'/%3E%3C/svg%3E");
        background-size: 100%;
    }
    &-title {
        @include mobile {
            font-size: 36px;
            line-height: 1.33;
        }
    }
    &-form {
        .input-group {
            margin-bottom: 24px;
            @include mobile {
                margin-bottom: 16px;
            }
        }
    }
}