$text-font: 'Raleway';
$serif-font: 'Playfair Display';

$container-width: 1800px;
$container-padding-x: 16px;

$duration: 0.3s;

$body-bg: #fff;

$green: #00353a;
$brown: #a28c6d;
$text: #353535;
$black: #0D0D0D;